POSTGRES_USER=usuario
POSTGRES_PASSWORD=password
POSTGRES_DB=nombre_base_datos
DATABASE_URL=postgresql://usuario:password@db:5432/nombre_base_datos
FUEL_COST_PER_LITER=0.00
FUEL_PRICE_PRODUCT=Diésel Porã
NEXT_PUBLIC_MAP_TILE_URL=https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
